
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la Página</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% block content %}
    <h2>Agregar Comentario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar Comentario</button>
    </form>
{% endblock %}
</body>
</html>
{% endblock %}





